$primary: #091f43;

$gray-100: #333f5b;

$gray-700: #cdd2d3;

$blue-100: #3e4f83;
$blue-200: #3b5998;
$blue-400: #0C2D3E;

$sky-100: #2889AD;
$sky-200: #51E5FF;
$sky-300: #136488;
$sky-400: #ADC9FF;
$sky-500: #15486C;

$black-100: #010710;

$white-100: #f1f3f2;

