@import "@/styles/variables.scss";

.after-alarm-question-page {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &.loaded {
    left: 0;
    transition: .3s left ease-in;
  }

  .question-title {
    color: #445C87;
    font-weight: 600;
  }

  .back-icon {
    left: 1rem;
    width: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .customize-btn {
    background: none;
    border: 2px solid $sky-100;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    width: initial;

    &:focus {
      outline: none;
    }
  }

  .bedtime-desc {
    color: $gray-100;
  }
}
